
.a{
   
    height: 30px;
    width: 15px;
   }

   
.b{
    /* margin-right: 100px; */
    height: 30px;
    width: 15px;
}
 .c{
    /* margin-right: 100px; */
     height: 30px;
    width: 15px;
 }